</div>
	</div>
</div>
<footer class="footer" style="position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;">
      <div class="container">
        <span class="text-muted">iims@2020</span>
      </div>
    </footer>

<script>
	$(document).ready(function() {
		confirmDelete.init();
	})
	const confirmDelete = (function () {
		const $modal = $('#delete-confirm-modal');
		const $deleteBtn = $('.btn-delete');
		const $deleteForm = $modal.find('form');
		const init = () => {
			attachEventListeners()
		};
		const attachEventListeners = () => {
			$deleteBtn.on('click', handleDeleteBtnClick);
			$modal.on('hidden.bs.modal', handleModalHidden)
		};
		const handleDeleteBtnClick = function () {
			const url = $(this).data('href');
			setDeleteUrl(`${url}?_method=DELETE`)
		};
		const handleModalHidden = function () {
			setDeleteUrl('')
		};
		const setDeleteUrl = url => {
			$deleteForm.attr('action', url)
		};
		return {
			init,
		}
	})();

</script>
  </body>
</html>
