</div>
	</div>
</div>
<footer class="footer" style="position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;">
      <div class="container">
        <span class="text-muted">iims@2020</span>
      </div>
    </footer>

<script>
    $(document).ready(() => {
        let button = $('#delete-data');
        // button.click((e) => {
        //     e.preventDefault();
        //     // $('#delete-modal-confirmation').modal('show');
        //
        //
        // })

    })

</script>
  </body>
</html>